@use '../../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@use '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@forward '../../../node_modules/bootstrap/scss/bootstrap-grid.scss' as b-*;
@use './config.scss' as *;
@forward './config.scss';
@use './mixin.scss';
@forward './mixin.scss';

html {
    font-family: "Noto Sans SC", sans-serif;
    // color: map-get($map: $color, $key: 'main')
}

.container,
.container-fluid {
	background-color: rgba(
		$color: map-get($map: $colors, $key: "bg"),
		$alpha: 1
	);
	color: map-get($map: $colors, $key: "main");
	// padding: 3rem;
    box-shadow: 0 2px 20px #f5f79126;
    transition: all .5s;
}

.container:hover {
	box-shadow: 0 10px 15px #f5f79157;
	transform: scale(1.02) translateY(-5px);
}

.seperator {
    @include mixin.seperator($thickness: 2px, $length: 100%, $dir:horizontal, 
        $bg: #ffffff80);
}

// text-{main, sub, minor, warning, success}
@each $type, $value in $colors {
	.text-#{$type} {
		color: $value;
	}
}
