// 修改一些bootstrap默认配置
// $link-decoration: none;
// $link-hover-decoration: none;
@use '../../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@use '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@forward '../../../node_modules/bootstrap/scss/bootstrap-grid.scss' as b-*;
@use './config.scss' as *;
@forward './config.scss';
@use './mixin.scss';
@forward './mixin.scss';

html {
  font-family: "Noto Sans SC", sans-serif;
  // color: map-get($map: $color, $key: 'main')
}

div,
text,
a,
table,
p {
  font-weight: $font-weight-normal;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-bold;
}


a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;

}
a:hover{
  text-decoration: none;

}
a:active{
  text-decoration: none;

}

// 统一容器类样式
.container,
.container-fluid {
  background-color: map-get($map: $colors, $key: "bg");
  color: map-get($map: $colors, $key: "main");
  transition: all 0.5s;
  // box-shadow: 0px 0 10px map-get($map: $colors, $key: "shadow");
  // box-shadow: none;
  // transform: none;
}

// 容器类的鼠标悬浮样式
// .container:hover {
// 	transform: scale(1.02) translateY(-5px);
// 	box-shadow: 5px 0 10px map-get($map: $colors, $key: "shadow");
// }

// 通用的分界线类
.seperator {
  @include mixin.seperator(
    $thickness: 2px,
    $length: 100%,
    $dir: horizontal,
    $bg: #ffffff80
  );
}

// 通用文字颜色类
// text-{main, sub, minor, warning, success}
@each $type, $value in $colors {
  .text-#{$type} {
    color: $value;
  }
}
