@use './config.scss';
@use './mixin.scss';

#blog-container{
    strong{
        font-weight: config.$font-weight-bold;
    }
    blockquote{
        background-color: map-get($map: config.$colors, $key: 'bg-quote');
        @include mixin.padding(1rem);
        @include mixin.padding-left(2rem);
        *{
            color: config.$text-color-minor;
            font-style: italic;
        }
    }
}