// 通用配置文件
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&display=swap");

$text-color-main: #cecece;
$text-color-sub : #aaaaaa;
$text-color-minor: #777777;

$colors: (
  "main"   : #cecece,
  "sub"    : #aaaaaa,
  "minor"  : #777777,
  "warning": #a10000,
  "success": #0011aa,
  "bg"     : rgba(64, 64, 64, 0.3),
  "shadow" : #0d1a25,
);

$layers: (
  header : 1000,
  content: 0,
  bg     : -1000,
);

$z-ind-header : 1000;
$z-ind-content: 0;
$z-ind-bg     : -1000;

$font-size-main    : 1rem;
$font-size-title   : 1.5rem;
$font-size-subtitle: 1.3rem;
$font-size-minor   : 0.8rem;

$font-weight-normal : 300;
$font-weight-lighter: 200;
$font-weight-bold   : 500;

$max-width: 720px;