// 混入
@use './config.scss';
// 引入rfs，bootstrap内部维护的Responsive prop value mixins.
// 核心混入： rfs($value, $propName)
@forward '../../../node_modules/rfs/scss.scss';

@mixin seperator(
  $thickness: 1px,
  $length: 100px,
  $bg:
    linear-gradient(
      to right,
      #80808011,
      rgba(179, 179, 179, 1) 20%,
      white 50%,
      rgba(179, 179, 179, 1) 80%,
      #80808011
    ),
  $dir: horizontal
) {
  @if $dir==horizontal {
    height: $thickness;
    width: $length;
  } @else {
    height: $length;
    width: $thickness;
  }
  background: $bg;
}

@mixin overflow-eclipsis($max-height: 1rem, $line-num: 2, $left-margin: 15px) {
	$line-height: $max-height/$line-num;
  // background: #099;
  max-height: $max-height;
  line-height: $line-height;
  overflow: hidden;
  position: relative;
  &::before {
    float: left;
    content: "";
    width: $left-margin;
    max-height: $max-height;
  }

  & .text {
    float: right;
    width: 100%;
    margin-left: -$left-margin;
    word-break: break-all;
  }
  &::after {
    float: right;
    content: "...";
    width: $left-margin;
    height: $line-height;
    position: relative;
    left: 100%;
    transform: translate(-100%, -100%);
    // background: map-get($map: config.$colors, $key: 'bg');
  }
}
